.add-btn {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-btn:hover {
    background-color: #5f5f5f;
  }
  
  .edit-btn,
  .update-btn,
  .delete-btn {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-btn {
    background-color: #03bd37;
    color: white;
  }
  
  .edit-btn:hover {
    background-color: #06a433;
  }
  
  .update-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .update-btn:hover {
    background-color: #45a049;
  }
  
  .delete-btn {
    background-color: #f44336;
    color: white;
  }
  
  .delete-btn:hover {
    background-color: #e41e2b;
  }